# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/
myenv
node_modules
package.json
package-lock.json
manifest.json

# FastAPI / Python specific
*.sqlite3
*.db
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Testing
.coverage
.pytest_cache/
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
